.finalproject {
	background-color: #EDEDED;
	padding: 0px;
	border: 10px double #000;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 5px;
}
body {
	background-color: #0C4569;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #FFF;
}
a {
	color: #666;
	background-color: #F9C;
	padding: 5px;
	margin-right: 40px;
	border-radius: 10px;
}
